@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

* {
box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #110255;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    cursor: pointer;
    
}

.container {
    width: 520px;
    height: auto;
    margin: 100px auto;
    background-color: #eee;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
}

.form-base {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
}

.block {
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}

h3 {
    font-size: 26px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 0px;
    box-shadow: 0px 2px #bababa;
    background: white;
    font-size: 34px;
    color: black;
}

.title {
    font-size: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 0.5;
    letter-spacing: 0.5px;
    word-spacing: 2.7px;
    color: black;
}

input[type="text"] {
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #1073d0;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 2px;
    color: #1073d0;
    font-size: 17px;
}
input[type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid rgb(161, 110, 16);
    outline: none;
}
input[type="button"] {
    width: 130px;
    margin-left: 35%;
    margin-top: 40px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #0761b6;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;
    font-size: 14px;
}
input[type="button"]:hover {
    background-color: #295680;
}
#result {
    display: block;
    margin: 10px;
    margin-top: 35px;
    padding: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: black;
}